@model IEnumerable<HastaneOtomasyonu.Models.Doktor>
<div style="background-color:red">


    <table class="table">
        <thead style="color:lightblue">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.doktoradi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.muayeneucreti)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PoliklinikId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody style="color:aliceblue;">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="mb-3">
                        <strong>   @Html.DisplayFor(modelItem => item.doktoradi) </strong>
                    </td>
                    <td class="mb-3">
                        <strong> @Html.DisplayFor(modelItem => item.muayeneucreti)</strong>
                    </td>
                    <td class="mb-3">
                        <strong>   @Html.DisplayFor(modelItem => item.PoliklinikId)</strong>
                    </td>
                    <td>

                    <td><a href="/Randevus/Create/" class="btn btn-warning">@_localizer.Getkey("randevuAl")</a></td>

                </tr>
            }
        </tbody>
    </table>
</div>